<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.graduatepj">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
         />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="graduatePJ"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:targetSandboxVersion="2"
        android:theme="@style/Theme.GraduatePJ"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".test"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".BloodCollect2" />
        <activity android:name=".BloodCollect1" />
        <activity android:name=".confirmActivity" />
        <activity android:name=".Chemogiveinfo2" />
        <activity android:name=".Chemogiveinfo" />
        <activity android:name=".Chemocheck2" />
        <activity android:name=".Chemocheck" />
        <activity android:name=".Print_examineNumber2" />
        <activity android:name=".Print_examineNumber1" />
        <activity android:name=".examine_homePage" />
        <activity android:name=".Waiting2" />
        <activity android:name=".OperationVerify2" />
        <activity android:name=".Waiting" />
        <activity android:name=".OperationVerify" />
        <activity android:name=".Sign_sumActivity" />
        <activity android:name=".PagerActivity" />
        <activity android:name=".Transfer_sumActivity" />
        <activity android:name=".Check_sumActivity" />
        <activity android:name=".BloodnumberActivity" />
        <activity android:name=".TPRActivity" />
        <activity android:name=".TransferActivity" />
        <activity android:name=".blood_homeActivity" />
        <activity android:name=".SignActivity" />
        <activity android:name=".CheckIn2" />
        <activity android:name=".CheckIn" />
        <activity android:name=".OperationHome" />
        <activity android:name=".Chemopm3" />
        <activity android:name=".Chemopm2" />
        <activity android:name=".Chemopm" />
        <activity android:name=".eisairesult" />
        <activity android:name=".eisaicheck" />
        <activity android:name=".gotofunction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>